{% extends 'base.html.twig' %}

{% block title %}Classes index{% endblock %}

{% block body %}
    <h1>Classes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdClasse</th>
                <th>ClasseName</th>
                <th>ClasseDescription</th>
                <th>IdSchool</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.idClasse }}</td>
                <td>{{ class.classeName }}</td>
                <td>{{ class.classeDescription }}</td>
                <td>{{ class.idSchool }}</td>
                <td>
                    <a href="{{ path('app_classes_show', {'idClasse': class.idClasse}) }}">show</a>
                    <a href="{{ path('app_classes_edit', {'idClasse': class.idClasse}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_classes_new') }}">Create new</a>
{% endblock %}
